


<div class="h-100 d-flex justify-content-center">

    <div class="card align-self-center" style="min-width:500px;">
        <h5 class="card-header special-color-dark white-text text-center py-4">
			<strong>Sign up</strong>
		</h5>
        <div class="card-body">
            


			<%= form_for @user do |f| %>
				<% if @user.errors.any? %>
					<div class="error_messages">
						<h2>Form is invalid</h2>
						<ul>
							<% @user.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>

				<!-- Email -->
				<div class="md-form">
					<input type="text" name="user[name]" id="user_name" class="form-control">
					<label for="user_name">Name</label>
				</div>

				<div class="md-form">
					<input type="text" name="user[email]" id="user_email" class="form-control">
					<label for="user_email">Email</label>
				</div>

				<div class="md-form">
					<input type="password" name="user[password]" id="user_password" class="form-control">
					<label for="user_password">Password</label>
				</div>

				<div class="md-form">
					<input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control">
					<label for="user_password_confirmation">Confirm Password</label>
				</div>

				 <!-- Sign in button -->
      			<button  name="commit" value="Submit" class="btn btn-outline-scd btn-block my-4 waves-effect z-depth-0" type="submit">Create</button>

			<% end %>


        </div>
    </div>

</div>

