


<div class="h-100 d-flex justify-content-center">

    <div class="card align-self-center w-100">
        <h5 class="card-header special-color-dark white-text py-4">
			<strong>Hello </strong>
		</h5>
        <div class="card-body">
            
            You are in 
            <%= @room_name %> as <%= @guest_name %>


        </div>
    </div>

</div>


