
<div class="h-100 d-flex justify-content-center">

    <div class="card align-self-center w-100">
        <h5 class="card-header special-color-dark white-text py-4">
			<strong>Guest Room: </strong>
		</h5>
        <div class="card-body">


        </div>
        <div class="card-footer text-muted">
            <small>
            some footer stuff
            </small>
            
        </div>
    </div>

</div>
